@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');

html,
body {
  height: 100%;
}

body {
  display: flex;
  align-items: stretch;
}

#root {
  width: 100%;
}

.cubes-container,
.App {
  height: 100%;
}

.cubes-container {
  background: cornsilk;
}

.cubicles-container {
  height: 55%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#inputOne {
  font-weight: 600;
  font-size: 24px;
}

.cubic {
  display: block;
  min-height: 2rem;
  width: 4rem;
  height: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 32px;
  font-weight: 600;
  text-transform: capitalize;
  /* border: black solid 0.1rem; */
}

.decoy {
  position: absolute;
  opacity: 0;
}

.cubicles-wrapper {
  padding: 1rem;
  display: flex;
  justify-content: center;
  gap: 10px;
  align-items: center;
}

.tries-over {
  cursor: none;
  pointer-events: block;
  opacity: 50%;
}

.grey {
  background-color: #bbbbbf !important;
}

.white {
  background-color: white;
}

.green {
  background-color: #9ef01a !important;
}

.yellow {
  background-color: #ffd60a !important;
}

.title {
  font-family: 'Permanent Marker', cursive;
  padding: 1rem;
  font-size: 64px;
  font-weight: 400;
  margin-bottom: 0;
}

.modal-message {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  font-weight: 600;
  font-size: 64px;
  font-family: 'Permanent Marker', cursive;
}

.key-cube-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 6px;
  padding: 0 1rem;
  padding-top: 0.5rem;
  flex-shrink: 0;
}

.key-cube {
  display: block;
  min-height: 2rem;
  width: 2.25rem;
  height: 2.25rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  font-weight: 600;
  text-transform: capitalize;
  background: white;
}

.special_key {
  width: 3rem !important;
}

/* animation */

/* Animation property */
.wiggle {
  animation: wiggle 2s linear infinite;
}

/* Keyframes */
@keyframes wiggle {
  0%,
  7% {
    transform: rotateZ(0);
  }
  15% {
    transform: rotateZ(-15deg);
  }
  20% {
    transform: rotateZ(10deg);
  }
  25% {
    transform: rotateZ(-10deg);
  }
  30% {
    transform: rotateZ(6deg);
  }
  35% {
    transform: rotateZ(-4deg);
  }
  40%,
  100% {
    transform: rotateZ(0);
  }
}

/* Keyframes */
@keyframes press {
  0%,
  7% {
    transform: rotateZ(0.8);
  }

  20% {
    transform: scale(0.9);
  }

  65%,
  100% {
    transform: scale(1);
  }
}

.press .flip-card {
  animation: press 0.5s ease-in-out;
  box-shadow: 3px 2px 22px 1px rgba(0, 0, 0, 0.24);
  /* Lowering the shadow */
}

@media only screen and (max-width: 520px) {
  .title {
    font-size: 3em;
    padding: 0.5rem;
  }

  .w-icon,
  .reset-icon {
    height: 3rem !important;
    width: 3rem !important;
  }

  .modal-message {
    padding: 0.5rem;
    font-size: 2em;
  }
  .cubicles-wrapper {
    padding: 0.8rem 0.5rem;
  }

  .cubicles-container {
    flex-grow: 1;
  }
  .key-cube-container {
    padding: 0;
    padding-top: 0.5rem;
    gap: 3px;
  }

  .cubes-container {
    display: flex;
    flex-direction: column;
  }

  .cubic {
    width: 4rem;
    height: 4rem;
  }
}

@media only screen and (min-width: 1301px) {
  .key-cube-container {
    display: none;
  }
  .cubicles-container {
    height: 75%;
  }
}


@media only screen and (max-width: 896px) {
  .modal-message {
    padding: 1rem;
    font-size: 2.5em;
  }
}
@media only screen and (max-height: 896px) {
  .title {
    font-size: 2em;
  }

  .cubic {
    height: 4rem;
    width: 4rem;
  }

  .w-icon,
  .reset-icon {
    height: 2rem !important;
    width: 2rem !important;
  }

  .modal-message {
    padding: 0.25rem;
    font-size: 1.5em;
  }
  .cubicles-wrapper {
    padding: 0.5rem;
  }
}

@media only screen and (max-height: 895px) {
  .cubicles-wrapper {
    padding: 0.5rem;
  }
  .cubic {
    height: 4rem;
    width: 4rem;
  }
}

@media only screen and (max-height: 667px) {
  .cubicles-wrapper {
    padding: 0.2rem;
  }
  .cubic {
    height: 3rem;
    width: 3rem;
    font-size: 28px;
  }
  .key-cube-container {
    gap: 3px;
    padding: 0.5rem 0.5rem;
  }

  .key-cube {
    width: 2.1rem;
    height: 2.1rem;
    font-size: 24px;
  }

  .title {
    font-size: 2em;
  }

  .w-icon,
  .reset-icon {
    height: 2rem !important;
    width: 2rem !important;
  }

  .modal-message {
    padding: 0.25rem;
    font-size: 1.5em;
  }
  .cubicles-wrapper {
    padding: 0.5rem;
  }
}

@media only screen and (min-width: 520px) {
  .key-cube-container {
    gap: 10px;
    width: 95%;
    align-self: center;
    margin: auto;
  }
  .key-cube {
    display: block;
    width: 3rem;
    height: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 36px;
    font-weight: 600;
    text-transform: capitalize;
    background: white;
  }
  .special_key {
    width: 5rem !important;
  }
}

@media only screen and (min-height: 1024px) {
  .key-cube-container {
    gap: 10px;
    width: 95%;
    align-self: center;
    margin: auto;
    flex-grow: 1;
  }
  .key-cube {
    width: 3.5rem;
    height: 3.5rem;
    font-size: 28px;
  }
  .cubic {
    height: 4rem;
    width: 4rem;
    font-size: 28px;
  }
}
